<a href="https://colab.research.google.com/github/hamant-jagwan/B1B2/blob/main/Assignment_2_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Basic Function Implementation :**

**Q. Write a function greet that takes two arguments: name (a string) and greeting (a string with a default value of "Hello"). The function should return a greeting message**

In [1]:
def greet(name, greeting="Hello"):
    return f"{greeting} {name}"

print(greet("Pankaj Jagwan"))
print(greet("", "Namastey UPES"))

Hello Pankaj Jagwan
Namastey UPES


**2. Named Arguments :**

**Q. Create a function create_profile that takes arguments for name, age, and city as named arguments. The function should return a string like "Name: Alice, Age: 25, City: New York". Ensure that the age argument has a default value of 18**

In [2]:
# Function definition
def create_profile(name, city, age=20):
    return f"Name: {name}, Age: {age}, City: {city}"

#Create profile with custom age
profile = create_profile(name="Hamant jagwan", city="Roorkee", age=23)
print(profile)

#Create profile with default age
profile_default_age = create_profile(name="Pankaj jagwan", city="Roorkee")
print(profile_default_age)

Name: Hamant jagwan, Age: 23, City: Roorkee
Name: Pankaj jagwan, Age: 20, City: Roorkee

**3. Using args and kwargs :**

**Q. Write a function sum numbers that takes any number of positional arguments (args) and keyword arguments (kwargs)**

In [3]:
# Function definition
def sum_numbers(*args, **kwargs):

    #Sum only the numeric arguments in args
    args_sum = sum(args for arg in args if isinstance(args, (int,float)))

    #Return the sum of numbers and the kwargs dictionary
    return args_sum, kwargs

result_sum, result_kwargs = sum_numbers(30,40,50, a=40, b=50)
print("Sum:", result_sum)
print("Keyword:", result_kwargs)

Sum: 0
Keyword: {'a': 40, 'b': 50}

**4. Lambdas and Map :**

**Q. Write a function that uses map and a lambda to return a list where each element is squared**

In [4]:
def square_elements(input_list):
    return list(map(lambda x: x**2, input_list))

n = [6,5,3,4,44,19,7,8,9]
squared_numbers = square_elements(n)
print(squared_numbers)

[36, 25, 9, 16, 1936, 361, 49, 64, 81]

**5. Filter and Lambdas :**

**Q. Write a function that filters out all odd numbers from a list using filter and a lambda function**

In [5]:
def filter_odds(input_list):
    return list(filter(lambda x: x % 2 == 0, input_list))

n = [1,22,3,4,5,6,76,8,94,14,60]
filtered_numbers = filter_odds(n)
print(filtered_numbers)

[22, 4, 6, 76, 8, 94, 14, 60]

**6. Basic List Comprehension :**

**Q. Create a list comprehension that takes a list of numbers and returns a list of their squares**

In [6]:
def square_elements(input_list):
    return [x**2 for x in input_list]

n = [6,4,5,9,8,]
square_numbers = square_elements(n)
print(square_numbers)

[36, 16, 25, 81, 64]

**7. List Comprehension with Condition :**

**Q. Use a list comprehension to create a list of even numbers from 1 to 20**

In [8]:
even_numbers = [x for x in range(1,20) if x%2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

**8. Using os and time Modules :**

**Q. Write a function file_operations that creates a directory named "test_folder" using os.makedirs(). Then, pause the execution for 3 seconds using time.sleep(), and finally, delete the directory using os.rmdir()**

In [9]:
import os
import time

def file_operations():

    os.makedirs("Python")
    print("Directory 'Python' created.")

    time.sleep(3)
    print("break for 3 seconds.")

    os.rmdir("Python")
    print("Directory 'Python' deleted.")

file_operations()

Directory 'Python' created.
break for 3 seconds.
Directory 'Python' deleted.

**9. Importing Specific Functions :**

**Q. Write a Python script that imports only sleep from the time module and renames it to pause. Use it to pause execution for 2 seconds and print "Paused execution..."**

In [10]:
from time import sleep as pause

pause(2)

print("execution ruki hui h srf 2 sec k liy...")

execution ruki hui h srf 2 sec k liy...

**10. Recursive Function with args and kwargs (Flattening a List) :**

**Q. Write a recursive function flatten_list that can flatten a nested list of any depth using args and kwargs**

In [11]:
def flatten_list(*args):
    flatten = []
    for item in args:
        if isinstance(item, list):

            # Recursively flatten the nested list
            flatten.extend(flatten_list(*item))
        else:
            # Add the item to the flattened list
            flatten.append(item)

    return flatten

nested_list = [1, [2, [3, 4]], 5, [6, [7, [8]]]]
flat_list = flatten_list(*nested_list)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]